@font-face{
  font-family: "NanumNeo";
  src: url(fonts/NanumSquareNeo-Variable.woff) format('woff'),
  url(fonts/NanumSquareNeo-Variable.woff) format('truetype');
}      

body{
  font-family: 'NanumNeo';
}

#windowBackground{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.4);
  overflow: auto;
  display: none;
}
#window{
  /* position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,0); */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 65%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, 0.4);
  border-radius: 10px;
  padding: 15px;
}
.close{
  position:fixed;
  right: 20px;
  font-size: 150%;
  font-weight: bold;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
form label, form input{
  font-size: 200%;
  width: 95%;
  display: block;
}
form label{
  margin-top: 50px;
  color: rgb(61, 9, 17);
  font-weight: bold;
}
form input{
  margin-top: 15px;
  margin-bottom: 30px;
  border: 5px dashed pink;
  border-radius: 15px;
  box-shadow: none;
}
#save{
  margin-top: 30px;
  position:absolute;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: pink;
  padding: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px gray;;
}
#save:hover, #save:focus{
  background-color: rgb(130, 59, 72);
  color: rgb(244, 237, 237);
  box-shadow: 1px 1px 5px 1px rgba(50, 50, 50, 0.5) inset;
}
.addMenu{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 40px;
  background-color: rgb(178, 79, 96);
  color: white;
  border: none;
  box-shadow: 1px 1px 1px 1px gray;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.addMenu:hover, .addMenu:focus{
  background-color: rgb(250, 205, 213);
  color: rgb(94, 94, 94);
  box-shadow: 1px 1px 5px 1px rgba(50, 50, 50, 0.5) inset;
}

#title{
  font-weight: 900;
  color: #35084a;
  display: block;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#subTitle{
  font-weight: bold;
  color: #35084a;
  display: block;
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}
.box{
  background-color: #ffb9d8;
  border-radius: 5%;
  display: inline-block;
  width: 250px;
  margin:20px;
}
header{
  padding-top: 20px;
  padding-bottom: 10px;
}
nav{
  background-color: #35084a;
  color: #ffedcd;
  margin: 15px 0px;
}
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul{
  list-style: none;
  display: table;
  margin: auto;
}
.menu{
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: auto;
  padding: 15px 70px;
}
.menu:hover{
  font-weight: 900;
  background-color: #ffedcd;
  color:#35084a;
}
.box > img{
 width: 90%;
 height: auto;
 display: block;
 margin: auto;
 margin-top:7px;
 object-fit: contain;
 border: #ffffff solid 2px;
}
.box > p{
  font-size: 15px;
  font-weight: bold;
  padding: 7px;
}
@media (max-width: 1200px) {
  .menu{
    padding: 15px 40px;
  }
}
@media (max-width:1000px){
  .box{
    background-color: #e2c0ff;
  }
}
@media (max-width:800px){
  header{
    position: sticky;
    background-color: #fff;
    top:0px;
  }
  .menu{
    font-size: 0px;
    padding:5px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
  }
  nav:hover .menu{
    font-size: 15px;
    padding:10px;
  }
  .menu:hover{
    background-color: #ffedcd;
    font-weight: 900;
    color: #35084a;
    width: 100%;
  }
}
@media (max-width:700px){
  .box{
    background-color: #c0c7ff;
  }
}